<section
  class="crew_container bg-cover bg-center bg-no-repeat object-cover max-w-full mx-auto min-h-screen pl-6 pr-6 pt-6 pb-14 text-sky-blue
   md:pt-0 md:pr-0 xl:py-6 xl:px-0"
>
  <app-navbar />

  <main>
    <section class="uppercase max-w-5xl flex flex-col items-center xl:flex-row xl:justify-between xl:mx-auto">
      <h2 class="text-white text-base mb-56 md:text-xl md:self-start md:mt-10 xl:m-0 pt-0">
        <span class="text-sky-blue">01</span> Meet your crew
      </h2>
    </section>
  </main>
</section>
