
<section
  class="home_container bg-cover bg-center bg-no-repeat mx-auto h-screen pl-6 pr-6 pt-6 text-sky-blue md:pt-0 md:pr-0 md:max-w-3xl xl:max-w-full xl:pt-6"
>
  <app-navbar />

  <main>
    <div class="text-center">
      <p class="text-base" >SO, YOU WANT TO TRAVEL TO</p>
      <h1 class="font-serif text-white text-[80px] leading-[100px] my-4 " >SPACE</h1>
      <p class="text-[15px]" >Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>
    </div>
  </main>
</section>




















