<section
  class="home_container bg-cover bg-center bg-no-repeat object-cover max-w-full mx-auto min-h-screen pl-6 pr-6 py-6 text-sky-blue
   md:pt-0 md:pr-0 xl:py-6 xl:px-0"
>
  <app-navbar />

  <main>
    <section class="max-w-sm flex flex-col items-center pt-10 mx-auto md:w-[450px] md:pt-16 xl:flex-row xl:justify-center xl:items-end xl:gap-x-64">
      <div class="text-center md:space-y-6 xl:w-auto ">
        <p class="text-base md:text-xl" >SO, YOU WANT TO TRAVEL TO</p>
        <h1 class="font-serif text-white text-[80px] leading-[100px] my-4 md:text-[150px] md:leading-[150px]" >SPACE</h1>
        <p class="text-[15px] md:text-base md:leading-7" >Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>
      </div>
      <div class="flex-shrink-0 w-[150px] h-[150px] rounded-full bg-white flex justify-center items-center uppercase mt-20 md:w-60 md:h-60 md:mt-40 xl:mt-0 xl:w-[274px] xl:h-[274px]">
        <p class="font-serif text-xl text-black-main">explore</p>
      </div>
    </section>
  </main>
</section>
