<section
  class="bg-technology-mobile bg-cover bg-center bg-no-repeat object-cover max-w-full min-h-screen pl-6 pr-6 pt-6 pb-14 text-sky-blue
  md:bg-technology-tablet md:pt-0 md:pr-0 xl:bg-technology-desktop xl:py-6 xl:px-0"
>
  <app-navbar />

  <main>
    <section class="max-w-3xl flex flex-col items-center xl:items-start xl:max-w-7xl mx-auto xl:pl-32">
      <h2 class="text-white text-base mb-8 md:text-xl md:self-start md:mt-10 md:mb-16 xl:ml-3 xl:mb-0">
        <span class="text-sky-blue">03</span> SPACE LAUNCH 101
      </h2>
      <article *ngIf="tech() as tech" class="flex flex-col xl:flex-row-reverse xl:justify-between xl:w-full" >
        <figure class="relative h-44 w-screen max-w-3xl md:-ml-5 md:h-72 xl:ml-0 xl:w-[400px] xl:h-[400px] xl:flex-shrink-0">
          <img [ngSrc]="tech.images.landscape" alt="banner" class="w-full h-full object-cover xl:hidden" fill priority >
          <img [ngSrc]="tech.images.portrait" alt="banner" class="w-full h-full object-cover hidden xl:block" fill priority >
        </figure>
        <div class="mt-8 px-3 xl:flex xl:items-center xl:gap-x-10">
          <ul class="text-white flex gap-x-6 justify-center items-center xl:flex-col xl:gap-y-6">
            <li *ngFor="let item of technologies; index as i"
              [ngClass]="positionActual === i ? 'text-black/100 bg-white' : '' "
              class="w-10 h-10 border border-white/25 flex items-center justify-center rounded-full hover:cursor-pointer md:w-[3.75rem] md:h-[3.75rem]"
              (click)="changeTech(i)"
            >{{i + 1}}</li>
          </ul>
          <div class="mt-8 text-center max-w-sm mx-auto xl:text-start xl:mt-0 xl:mx-0 xl:max-w-[500px]">
            <h2 class="uppercase text-sm xl:text-base xl:mb-3">The terminology...</h2>
            <h3 class="uppercase text-2xl font-serif text-white mb-4 xl:text-[3.5rem] xl:mb-6">{{tech.name}}</h3>
            <p class="text-[15px]">{{tech.description}}</p>
          </div>
        </div>
      </article>
    </section>
  </main>
</section>






