<header class="flex justify-between items-center mb-5 md:max-w-3xl xl:max-w-7xl mx-auto">
  <div class="w-10 h-10 xl:w-12 xl:h-12">
    <figure class="w-10 h-10 rounded-full bg-white xl:w-12 xl:h-12">
      <img src="./assets/shared/logo.svg" alt="icon logo" >
    </figure>
  </div>
  <figure class="block md:hidden">
    <img src="./assets/shared/icon-hamburger.svg" alt="icon menu" (click)="toggleIsMenu()">
  </figure>

  <div class="relative text-white hidden md:block" >
    <nav>
      <ul class="h-[6rem] w-[450px] flex items-center justify-center gap-x-10 backdrop-blur-2xl bg-white/5 xl:w-[52rem] xl:gap-x-[50px]">
        <li *ngFor="let item of itemsNav">
          <a class="uppercase text-sm block py-9 " routerLink="/{{item.path}}" routerLinkActive="border-b-2">
            <span class="hidden mr-2 xl:inline">{{item.id}}</span>
            {{item.name}}
          </a>
        </li>
      </ul>
    </nav>
    <div class="hidden absolute h-0 w-[330px] border-b border-white opacity-25 top-1/2 right-[820px] xl:block"></div>
  </div>
</header>

<div class="md:hidden" *ngIf="isMenuActive">
  <div class="fixed inset-0 bg-slate-900 opacity-70"></div>
  <div class="z-10 fixed inset-y-0 right-0 w-64 px-8 pt-[116px] shadow-[ 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset] bg-white/5 backdrop-blur-xl" >
    <ul class="space-y-8 text-white text-base">

      <li *ngFor="let item of itemsNav">
        <a routerLink="/{{item.path}}" routerLinkActive="border-b-2">
          <span class="mr-3 xl:inline">{{item.id}}</span>
          {{item.name}}
        </a>
      </li>
    </ul>

    <figure class="absolute top-4 right-4 hover:cursor-pointer" (click)="toggleIsMenu()" >
      <img src="./assets/shared/icon-close.svg" alt="icon close" class="h-6 w-6 ">
    </figure>
  </div>
</div>
